body{
    background-color: aqua;
}
nav bar  ul {
    list-style: none;
 
 }
 
 li {
    display: inline;
    padding: 5px;
 }
 .container{
     display: block;
     justify-content:center;
     align-items: center;
 }
  img{
     width: 98%;
     height: auto;
     padding: 0px;
     margin: 0;
 }
 .collaborator{
    display: flex;
    flex: 33%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 2px;
}
.noah-img{
    flex-basis: 32%;
    border: 2px;
    justify-items: baseline;
    padding: 1px;
}
.collaborator .noah-img {
    width: 100px;
    border-radius: 50%;
    float: left;
    
}
