body{
    background-color: aqua;
}
nav bar  ul {
    list-style: none;
 
 }
 
 li {
    display: inline;
    padding: 5px;
 }
 .container{
     display: block;
     justify-content:center;
     align-items: center;
 }
  img{
     width: 98%;
     height: 240px;
     padding: 5px;
     margin: 0;
 }