body{
    background-color: aqua;
}
nav bar  ul {
    list-style: none;
 
 }
 
 li {
    display: inline;
    padding: 5px;
 }
 .container{
     display: block;
     justify-content:center;
     align-items: center;
 }
  img{
     width: 400px;
     height: 240px;
     padding: 0px;
     margin: auto;
 }
.flex{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: right;
}



