

.nav--ul {
    list-style: none;

}

.nav--li {
    display: inline;
    padding: 5px;  
}

.home{
    background: url(images/Noah-Bradley_The-Sin-of-Man_Idylls-of-Love_1400x.jpg) no-repeat;
    display: table;
    position: relative;
    width: 100%;
    background-size: cover;

}